.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.memediv {
  text-align: 'center';
  margin-top: '20px' ;

}

/* Główna struktura */
.app-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content-container {
  display: flex; /* Ustawia układ poziomy dla dzieci (side-nav i main-content) */
  flex: 1; /* Zajmuje całą dostępną przestrzeń pod banerem */
  overflow: hidden; /* Zapobiega przewijaniu wewnętrznych elementów */
}

/* Lewy panel (nawigacja) */
.side-nav {
  width: 20%; /* Lewa kolumna zajmuje 20% szerokości */
  background-color: black;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 1px solid white;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
}

.side-nav li {
  margin: 15px 0;
}

.side-nav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.side-nav a:hover {
  color: #007bff;
}

/* Prawy panel (treść) */
.main-content {
  flex: 1; /* Reszta przestrzeni */
  padding: 20px;
  overflow-y: auto; /* Dodaj scroll, jeśli treść jest za duża */
  background-color: black;
  color: whitesmoke;
}

.main-content h1 {
  color: whitesmoke;
}

/* Baner */
.banner {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  overflow: hidden;
}

#banner-text {
  font-size: 3rem;
  color: white;
  position: absolute;
  right: -300px; /* Startuje poza ekranem */
  animation: slideIn 2s ease-out forwards, shimmer 2s 0.5s ease-out;
}

/* Animacja pojawienia się z prawej strony */
@keyframes slideIn {
  to {
    right: 50%; /* Umieszczony na środku */
    transform: translateX(50%);
  }
}

/* Efekt błyszczenia */
@keyframes shimmer {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px silver, 0 0 60px silver;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px silver, 0 0 30px silver, 0 0 50px white, 0 0 80px white;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px silver, 0 0 60px silver;
  }
}